extends layout

block content
  #page2
    h1.titre2 #{title}

    #command
    h2 RETRAIT
    form(action="/", method="post")
      input(type="text",placeholder="nom de l'entreprise", name="entreprise")
      input(type="text",placeholder='nom', name="nom")
      input(type="text",placeholder='prenom', name="prenom")
      input(type='text',placeholder='@', name="mail")
      input(type='text',placeholder='Adresse', name="Adresse")
      input(type='text',placeholder='code porte', name="code porte")
      input(type='text',placeholder='75---', name="code postal")
      input(type='text',value='Paris')
      input(type='text',placeholder='Tel bureau', name="Tel bureau")
      input(type='text',placeholder='Tel portable', name="Tel portable")  
      textarea(type='text',placeholder='dimensions du colis,delai souhaité')
    h2 LIVRAISON
    form(action="/" method="post")
      input(type="text",placeholder="nom de l'entreprise", name="entreprise")
      input(type="text",placeholder='nom', name="nom")
      input(type="text",placeholder='prenom', name="prenom")
      input(type='text',placeholder='@', name="mail")
      input(type='text',placeholder='Adresse', name="Adresse")
      input(type='text',placeholder='code porte', name="code porte")
      input(type='text',placeholder='75---', name="code postal")
      input(type='text',value='Paris')
      input(type='text',placeholder='Tel bureau', name="Tel bureau")
      input(type='text',placeholder='Tel portable', name="Tel portable")
      textarea(type='text',placeholder='Informations supplémentaires')  
    input(type='submit',value='valider')
    hr
    footer
      #contact
      h5 Nous contacter
      ul.slt
        li
          a(href="mailto:salem.yahiaoui75@gmail.com",class="link-image",target="_blank")
          img(src="images/email.png" alt="lien mail")
        li
          a(href="" ,target="_blank")
          img(src="images/fb.png", alt="lien facebook")
        li
          a(href="#")
          img(src="images/phone.png" alt="0110111213")
        
