extends layout

block content

  header
    img#deliv(src="images/deliv.png")
    h1= title
    h3 Livré'(z)' quand vous voulez!
    
  main
    if errors
      div.alert#popUp
        button#XX(type='button') x
        ul
          each error in errors
            li= error
    div(id="map")
    br
    hr#lign
    h3 Espace Client
    br
    .connex
      input.button(type='button',value='SE CONNECTER',onclick="connect();")
      input.button(type="button",value="INSCRIPTION",onclick="showForm();")
    br
    #logIn
      form(action="/", method="post")
        input(type="text",placeholder='nom', name="nom")
        input(type="text",placeholder='prenom', name="prenom")
        input(type='text',placeholder='@', name="mail")
        input(type='text',placeholder='Adresse', name="Adresse")
        input(type='text',value='75',placeholder='code postal', name="codepostal")
        input(type='text',value='Paris',name="ville",disabledn)
        input(type='text',placeholder='Tel bureau',value='01', name="Telbureau")
        input(type='text',placeholder='Tel portable', name="Tel portable")
        input(type='password',placeholder='password',name="password")
        input(type='password',placeholder='confirm password',name="password2")
        input(type='submit',value='valider')    
    #signIn
      form(action="/users/connect", method="post")
        input(type='text',placeholder='@', name="mail")
        input(type='password',placeholder='password',name="password")
        input(type='submit',value='valider')  
    hr#lign
    h3 Espace Coursier
    br
      .connex
        input.button(type='button',value="S'INSCRIRE",onclick="inscript();")
        input.button(type="button",value="ACCES AUX COURSES",onclick="access();")
    br
    #logInCoursier
      form(action="/", method="post")
        input(type="text",placeholder='nom', name="nom")
        input(type="text",placeholder='prenom', name="prenom")
        input(type='text',placeholder='@', name="mail")
        input(type='text',placeholder='Tel portable', name="Tel portable")
        input(type='password',placeholder='password',name="password")
        input(type='password',placeholder='confirm password',name="password2")
        input(type='submit',value='valider')
    #runner    
      form(action="/users/coursier", method="post")
        input(type="text",placeholder='nom', name="nom")
        input(type="text",placeholder='Position 75---', name="arrdt")
        input(type='password',placeholder='password',name="password")
        input(type='submit',value='valider')
  hr#lign
  footer
    #contact
    h5 Nous contacter
    ul.slt
      li
        a(href="mailto:salem.yahiaoui75@gmail.com",class="link-image",target="_blank")
          img(src="images/email.png" alt="lien mail")
      li
        a(href="" ,target="_blank")
          img(src="images/fb.png", alt="lien facebook")
      li
        a(href="#")
          img(src="images/phone.png" alt="0110111213")
          
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSx9l0DDT7N7TgAZ4WqJsePfP5QJS18Is&callback=initMap")
