*{
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#map {
  border: 2px solid black;
  border-radius: 30px;
  height: 50vh;
  width: 50vw;
  left: 25vw;
  position: relative;
  padding: 10px;
  margin: 10px;
}
header {

  background-color: #1e4b68;

}
h1 {
  padding: 10px;
  text-align: center;
  font-family: 'Faster One', cursive;
  color: white;
  font-size: 50px;
}

h3 {
  text-align: center;
  font-style: italic;
  color: white;
}
.connex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.button {
  border:2px solid black;
  border-radius: 5px;

}
.button:hover {
  box-shadow:inset 200px 0px #3d444c;
}
main {
  background-color: #1b7eae;
}
#logIn {
  display: none;
  width: 30vw;
  margin: auto;
}
#logIn.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#signIn {
  display: none;
  width: 30vw;
  margin: auto;

}

#signIn.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#command {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:3px solid black;
  border-radius: 10px;

}
#side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#runner{
  display: flex;
  flex-direction: column;
  width: 150px;

}

#lign {
  border: 2px solid black;
}
footer {
  background-color: #3d444c;
}
h5 {
  text-decoration: underline;
  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  list-style-type: none;
}
li img {
  width: 30px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px white;

}

@media screen and (max-width: 600px){
  *{
    margin: 0;
    padding: 0;
  }
  #map {
    border: 2px solid black;
    border-radius: 30px;
    height: 50vh;
    width: 80vw;
    margin: 20px;
    left: 0px;
  }
}
